/* header */



header {
display: flex;
width: 100%;
height: 110px;
background-color: #0D0000;
position: fixed;
top: 0;
box-shadow: 0px 3px 3px #8C0E03;
}



header H1 {
  grid-column: 4;
  color: red;
  font-family: 'Press Start 2P', cursive;
  position: relative;
  text-shadow: 2px 3px 0px #8C0E03 ;
  font-size: 23px;
  align-self: center;


}

/* Bricks */

/*
#f2790f jaune
#f26716 orange
#bf2604 orange-rouge
#8C0E03 rouge profond
#0D0000 noir
*/
.brickBlock {
  height: 100px;
  display: grid;
  grid-template: repeat(5,26px)/repeat(27,fr);
  grid-gap: 7px;
font-family: 'Press Start 2P', cursive;
text-align: center;
margin-top: 3px;
position: relative;
flex: 3 0 0;
top: 3px

}

.brickBlock a {
position: relative;
top: 6px;
text-decoration: none;
color: inherit;
text-shadow: 2px 2px 1px #8C0E03 ;

}

#brik1 {
  grid-area: 1/21/1/24;
  background-color:#bf2604;
  box-shadow: -3px -3px 0px #8C0E03 inset,3px 3px 0px #8C0E03 inset;
}

#brik2 {
  grid-area: 2/19/2/23;
  background-color:#bf2604;
    box-shadow: -3px -3px 0px #8C0E03 inset,3px 3px 0px #8C0E03 inset;
}

#brik3 {
  grid-area: 3/21/3/24;
  background-color:#bf2604;
  box-shadow: -3px -3px 0px #8C0E03 inset,3px 3px 0px #8C0E03 inset;
}

#brik4 {
  grid-area: 3/18/3/21;
  background-color:#f2790f;
  box-shadow: -2px -2px 0px #8C0E03 inset,2px 2px 0px #8C0E03 inset;
}

#brik5 {
  grid-area: 2/16/2/19;
  background-color:#bf2604;
    box-shadow: -3px -3px 0px #8C0E03 inset,3px 3px 0px #8C0E03 inset;
}

#brik6 {
  grid-area: 1/17/1/21;
  background-color:#f2790f;
  box-shadow: -2px -2px 0px #8C0E03 inset,2px 2px 0px #8C0E03 inset;
}

#brik7 {
  grid-area: 1/17/1/15;
  background-color:#bf2604;
    box-shadow: -3px -3px 0px #8C0E03 inset,3px 3px 0px #8C0E03 inset;
}

#brik8 {
  grid-area: 1/12/1/15;
  background-color:red;
  box-shadow: -2px -2px 0px #8C0E03 inset,2px 2px 0px #8C0E03 inset;
}

#brik9{
  grid-area: 2/13/2/16;
  background-color:red;
  box-shadow: -2px -2px 0px #8C0E03 inset,2px 2px 0px #8C0E03 inset;
}

#brik10{
  grid-area: 2/13/2/10;
  background-color:#bf2604;
    box-shadow: -3px -3px 0px #8C0E03 inset,3px 3px 0px #8C0E03 inset;
}

#brik11{
  grid-area: 3/15/3/18;
  background-color:#bf2604;
    box-shadow: -3px -3px 0px #8C0E03 inset,3px 3px 0px #8C0E03 inset;
}

#brik12{
  grid-area: 3/15/3/12;
  background-color:red;
  box-shadow: -2px -2px 0px #8C0E03 inset,2px 2px 0px #8C0E03 inset;
}

/* header logo */

.leftNav {
  height: 120px;
  grid-column: 1;
  display: grid;
  grid-template: repeat(20,5px) / repeat(40,5px);
  position: relative;
  left: -90px;
  top : 5px;
}

#logo1 {
  grid-area: 3/39/15/39;
  background-color: red;
  box-shadow: -0.2px -0.2px 2px #8C0E03 inset,0.2px 0.2px 1px #8C0E03 inset;
}

#logo2 {
  grid-area: 5/28/17/30;
  background-color: red;
  box-shadow: -1px -1px 2px #8C0E03 inset,1px 1px 1px #8C0E03 inset;
}

#logo3 {
  grid-area: 15/31/17/40;
  background-color: red;
  box-shadow: -1px -1px 2px #8C0E03 inset,1px 1px 1px #8C0E03 inset;
}

#logo4 {
  grid-area: 3/38/3/28;
  background-color: red;
  box-shadow: -0.2px -0.2px 2px #8C0E03 inset,0.2px 0.2px 1px #8C0E03 inset;
}

#logo5 {
  grid-area: 7/36/9/33;
  background-color: red;
  box-shadow: -1px -1px 2px #8C0E03 inset,1px 1px 1px #8C0E03 inset;
}

#logo6{
  grid-area: 13/36/11/33;
  background-color: red;
  box-shadow: -1px -1px 2px #8C0E03 inset,1px 1px 1px #8C0E03 inset;
}

.test {
  transition: display;
  transition-delay: 3s;
}
.test:hover {
display: none;
}
